version: '3.9'
services:
  db:
    image: mysql:latest
    container_name: db
    hostname: db
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - 3306:3306
    env_file:
      - config/db.env
    volumes:
      - semaphore-mysql-dbdata:/var/lib/mysql
    networks:
      - ansible-ui

  semaphore:
    image: ansiblesemaphore/semaphore:latest
    container_name: semaphore
    expose:
      - 3000
    env_file:
      - config/semaphore.env
    environment:
      SEMAPHORE_PLAYBOOK_PATH: "/tmp/semaphore/"
    depends_on:
      - db
    networks:
      - ansible-ui

  caddy:
    image: caddy:2.3.0
    container_name: caddy
    ports:
      - "0.0.0.0:80:80"
      - "0.0.0.0:443:443"
    volumes:
      - $BASE_DIR/config/caddy:/etc/caddy:ro
      - $BASE_DIR/certs:/etc/certs/ssl:ro
    environment:
      CADDY_WEB_HOST: $CADDY_WEB_HOST
    restart: unless-stopped
    networks:
      - ansible-ui

  whoami:
    image: containous/whoami:latest
    container_name: whoami
    networks:
      - ansible-ui

  start_dependencies:
    image: dadarek/wait-for-dependencies
    container_name: start_dependencies
    command: db:3306 semaphore:3000 caddy:443
    depends_on:
      - db
      - semaphore
      - caddy
    command: caddy:443
    depends_on:
      - caddy
    environment:
      SLEEP_LENGTH: 1
      TIMEOUT_LENGTH: 60
    networks:
      - ansible-ui

volumes:
  semaphore-mysql-dbdata:

networks:
  ansible-ui:
    driver: bridge