{$CADDY_WEB_HOST}:443 {
    reverse_proxy whoami
    tls /etc/certs/ssl/ssl_certificate.crt /etc/certs/ssl/ssl_certificate_key.key
}

{$CADDY_WEB_HOST}:80 {
    redir https://{$CADDY_WEB_HOST}{uri}
}

{$CADDY_WEB_HOST}:443/ui {
    reverse_proxy semaphore:3000
}



